@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
}

header .img-logo {
    width: 9.5rem;
    height: 0.875rem;
    margin-top: 3.5rem;
    margin-left: 3.875rem;
    z-index: 1;
}

header nav {
    display: flex;
    position: fixed;
    list-style: none;
    border: 1px solid black;
    border-radius: 33px;
    margin-top: 2.063rem;
    margin-left: 21rem;
    width: 47.938rem;
    height: 3.313rem;
    justify-content: center;
    align-items: center;
    gap: 3.065rem;
    z-index: 7;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

header nav li, a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

main .home{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    display: block;
    position: absolute;
    top: 0;
    background-color: #4B759A;
}

main .home .image-fundo {
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin-left: 50%;
}

main .home #image-fundo{
    width: 80%;
    text-align: center;
    display: block;
    /* overflow: hidden; */
}

main .home .info img {
    width: 42.886rem;
    height: 8.022rem;
    position: relative;
    margin-top: 11.938rem;
}

main .home .info aside {
    /* border: 1px solid black; */
    z-index: 5;
    color: white;
    display: grid;
    position: relative;
    width: 39.938rem;
    height: 10.125rem;
    font-size: 35px;
    margin-top: 2.563rem;
    margin-left: 3.875rem;
    font-family: "Alfa Slab One", serif;

}

main .sobre {
    height: 100vh;
    width: 100%;
    margin-top: 250px;
    /* border: 1px solid beige; */
    display: flex;
    position: absolute;
}

main .sobre h2 {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 8.188rem;
    font-size: 64px;
    margin-top: 8.625rem;
    margin-left: 3.813rem;
    color: #FFC300;
}

main .sobre p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    margin-top: 8.625rem;
    margin-left: 5.813rem;
    color: black;
    width: 29.875rem;
    height: 23.625rem;
    font-size: 24px;
}

main .sobre .sobre-image {
    height: 68%;
    width: 50%;
    margin-left: 3.563rem;
    margin-top: 10.5rem;
    text-align: center;
}

main .sobre .sobre-image img {
    width: 75%;
}

main .menu {
    border: 1px solid #4B759A;
    display: block;
    /* position: relative; */
    width: 100%;
    height: 100vh;
    margin-top: 60.25rem;
    background-color: #4B759A;
}

main .menu .title {
    /* border: 1px solid black; */
    margin-top: 7.25rem;
    margin-left: 3.875rem;
    width: 35.688rem;
    height: 5.188rem;
}

main .menu .title h2 {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: #FFC300;
}

main .menu .menu-adocao {
    /* border: 1px solid black; */
    width: 60.125rem;
    height: 31.813rem;
    align-self: center;
    justify-self: center;
    display: grid;
    grid: repeat(2, 15.063rem) / auto-flow 14.25rem;
    gap: 0.9rem;
    justify-content: center;
}

main .menu .menu-adocao .card {
    /* border: 1px solid black; */
    margin-top: 15px;
    border-top-left-radius: 20px;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #246182;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

main .menu .menu-adocao .card figure {
    /* border: 1px solid black; */
    overflow: hidden;
    width: 10.563rem;
    height: 7.875rem;
    margin-top: 1.25rem;
}

main .menu .menu-adocao .card figure img {
    width: 100%;
}

main .menu .menu-adocao .card button {
    background-color: #00AF14;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 7.875rem;
    height: 1.313rem;
    align-self: center;
    justify-self: center;
}

main .doacao {
    /* border: 1px solid black; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

main .doacao .title-doacao h2{
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    flex: 100%;
    font-size: 64px;
    margin-top: 8.25rem;
    margin-left: 3.813rem;
    color: #FFC300;
}


main .doacao .center {
    /* border: 1px solid black; */
    flex: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .doacao .center .cat {
    margin-left: 4.125rem;
}

main .doacao .center .cat img{
    width: 80%;
}

main .doacao .center .pix {
    margin-left: 12.438rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

main .doacao .center .pix img {
    width: 60%;
    margin-bottom: 2.875rem;
}

main .doacao .center .pix h4 {
    font-size: 32px;
}

main .doacao .center .pix p {
    /* border: 1px solid black; */
    width: 33.188rem;
    height: 3.188rem;
    text-align: start;
    font-size: 12px;
    margin-bottom: 5.438rem;
}

main .contato {
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

main .contato .title-contato {
    /* border: 1px solid black; */
    flex: 100%;
    height: 4.847rem;
    margin-top: 9.166rem;
}

main .contato .title-contato h2 {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: #FFC300;
    margin-left: 3.813rem;
}

main .contato .center-contato {
    flex: 100;
    display: flex;
    flex-flow: row nowrap;
}

main .contato .center-contato .list-info {
    text-align: start;
    margin-top: 4.799rem;
    margin-left: 3.813rem;
}

main .contato .center-contato .list-info li {
    list-style: none;
    height: 8rem;
}

main .contato .center-contato .list-info a, span {
    font-size: 32px;
    color: #4B759A;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

main .contato .center-contato .image-contato {
    height: 31.99rem;
    width: 80%;
    text-align: center;
}

main .contato .center-contato .image-contato img {
    width: 60%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-conteudo {
    display: grid;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    height: 400px;
    position: relative;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

#abrirModal {
    width: 150px;
    height: 50px;
    font-size: 16px;
}
#abrirModal:hover{
    background-color: #00AF14;
}

.fechar {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 24px;
  cursor: pointer;
}

#formCadastroPet {
    display: grid;
    gap: 8px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

.botao-cadastrar {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  background-color: #5CB85C;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
